.page-wrapper {
  padding: 16px;
}
.row {
  height: 100%;
}

.list-wrapper {
  border-left: 2px #eee solid;
}

.search {
  position: relative;
  margin-bottom: 8px;
  .btn-primary {
    position: absolute;
    right: 0;
    top: 0;
    height: 38px;
    width: 100px;
  }
}

.filter-wrapper {
  margin-bottom: 24px;
  .card-header {
    padding: 4px 12px;
  }

  .range-wrapper {
    display: flex;

    > :nth-child(2) {
      margin-left: 8px;
    }
  }
}
